* {
    background-color: #E0F2E9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: white;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #eee;
    font-weight: bold;
  }

img {
    width: 480px;
}

p {
    text-align: justify;
}

li {
    list-style: none;
}